.parent {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
}

.sidebar {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: transparent;
    -fx-padding: 20px;
}

.icon {
    -fx-background-color: transparent;
}
