* {
    -fx-font-family: 'Poppins', sans-serif;
}

/* Định nghĩa màu sắc */
.root {
    -fx-base: #425C5A;
    -fx-accent: #18B3A7;
    -fx-default-button: #C99C33;
    -fx-hover-base: #1890B3;
    -fx-focus-color: #3D5654;
    -fx-faint-focus-color: #ED6A5AFF;
    -fx-background: #E1ECEB;
    -fx-text-base-color: #FFFFFF;
    -fx-text-fill-color: #FEFEFE;
    -fx-hover-text-base-color: #84B1AD;
    -fx-color: #ffffff;
}

.body{
    -fx-background-color: -fx-background;
    -fx-background-radius: 15px;
}

.sidebar{
    -fx-background-color: -fx-base;
    -fx-background-radius: 0 15 15 10;
}

.sidebar .side-menu{
    -fx-padding: 10px;
}

.button{
    -fx-background-radius: 10px;
    -fx-background-color: -fx-base;
    -fx-text-fill: -fx-text-base-color;
    -fx-font-size: 18px;
    -fx-spacing: 10px;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: -fx-hover-text-base-color;
}

.button:pressed {
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-base;
}

.text-field {
    -fx-background-color: #bbd5d3;
    -fx-background-radius: 4px;
    -fx-border-color: #536564;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-font-family: Arial;
}

.text-field:focused{
    -fx-background-color: #ffffff;
    -fx-border-width: 4px;
}

.chart.label {
    -fx-text-fill: BLACK;
}

.chart-pie-label {
    -fx-text-fill: BLACK;
}

.menu-button .label {
    -fx-text-fill: BLACK;
}
