.button {
    -fx-background-color: inherit;
    -fx-background-radius: 30;
    -fx-border-color: #596ed7;
    -fx-border-width: 0 0 0 4;
}

.button:hover {
    -fx-background-color: #d3d3d3;
}

.button:pressed {
    -fx-background-color: #931414;
}
