.button {
    -fx-background-color: inherit;
    -fx-background-radius: 50%;
    -fx-border-color: #acacac;
    -fx-border-radius: 50%;
}

.button:hover{
    -fx-background-color: #596ed7;
    -fx-background-radius: 50%;
    -fx-border-color: #acacac;
    -fx-border-radius: 50%;
}