.vbox {
    -fx-background-color: #fff;
    -fx-background-radius: 0 20 20 0;
}

.button {
    -fx-background-color: inherit;
}

.button:hover {
    -fx-background-color: #d3d3d3;
    -fx-background-radius: 30;
}

.button:pressed {
    -fx-background-color: #596ed7;
    -fx-background-radius: 30;
}
